<% include header %>
<div id="wrapper" >
	<% include navbar %>
	<div class="container-fluid h-100" style="margin-top:70px;">
			<div id="serach" class="row h-100" >
				<div class="col-6 mx-auto h-100">
					<div  class="jumbotron" style="margin-top: 30vh;margin-right: auto;">
						<div class="form-group">
							<label style="font-size: 64px;">辨識紀錄查詢</label>
							<div class="input-group" >
								
								<input type="date" class="form-control" id="StartDate" placeholder="起始日期" style='font-size:32px'>
								<input type="date" class="form-control" id="EndDate" placeholder="起始日期" style='font-size:32px'>
								<div class="input-group-append">
									<button id="getRecord" class="btn btn-outline-secondary" type="button" style='font-size:32px'>查詢</button>
								</div>
							</div>
							
						</div>										
					</div>
				</div>	
			</div>
			
			<div id="chart" class="row h-100">
				<div class="col-8 mx-auto h-100">
					<div  class="jumbotron" id='canvas_parent' style="margin-top: 5vh;margin-right: auto;">
						<canvas id='chart_canvas' style="width: 100%;height: 30vh;"></canvas>
					</div>
					<div class="row input-group-append">
							<button id="Return_Search" class="offset-10 btn btn-primary" style="width: 10vw;" type="button">返回</button>
					</div>
				</div>	
			</div>

	</div>
	<% include footer %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js"></script>
	

	<script>
		function range(start, end) {
  			return Array(end - start + 1).fill().map((_, idx) => start + idx)
		}
		var getDaysArray = function(start, end) {
    		for(var arr=[],dt=start; dt<=end; dt.setDate(dt.getDate()+1)){
        		arr.push(new Date(dt));
    		}
    		return arr;
		};

		$(document).ready(function(){
			$('#chart').hide()
			var first_Search = true;
			var first_Chart = true;
			$('#getRecord').click(function(){
				var labels = []
				var data = []
				var dis_unit = 'hour'
				var sd = new Date($('#StartDate').val())
				var ed = new Date($('#EndDate').val())
	
				if(sd > ed){
					alert('起始時間不得晚於結束時間')
					return;
				}
				if(isNaN(sd) || isNaN(ed)){
					alert('請輸入起始日期與結束日期')
					return;
				}
				if(sd > Date.now()){
					alert('請輸入正確的日期')
					return;
				}
				if(sd.getTime() == ed.getTime()){
					ed.setDate(ed.getDate()+1)
				}
				$('#serach').animate({"margin-right": '+=30vw'},500,function(){
					$(this).fadeOut('fast',function(){
						$('#chart').fadeIn('fast',function(){
							if(!first_Search){
								$(this).animate({"margin-right": '-=30vw'},500)
							}else{
								first_Search = false;
							}
						})
					})
				});
				$.ajax({
					type:'post',
					url:'./api/GetRecord',
					data: {
						'start' :sd.getTime(),
						'end' : ed.getTime()
					},
					success: function(res){
						var perviousDate = '';
						var Start_End_Date = range(sd.getDate(),ed.getDate(),1)
						if(Start_End_Date.length == 2){
							res.forEach(element => {
								data.push(element.Record_DefectRate)
								labels.push(moment(element.Record_Date).local())
							})
						}else{
							dis_unit = 'day'
							var allBean_Days = []
							labels = getDaysArray(sd,ed)
							Start_End_Date.forEach(element => {
								var temp = []
								res.filter(x => new Date(x.Record_Date).getDate() == element).forEach(element =>{
									temp = temp.concat(JSON.parse(element.Record_Data))
									
								})
								allBean_Days.push(temp)

							})
							allBean_Days.forEach( element => {
								if(element.length > 0){
									data.push(element.filter(x => x.c != 0).length / element.length)
								}else{
									data.push(0)
								}
							})
						}
						
						$('#chart_canvas').remove();
						$('#canvas_parent').append('<canvas id="chart_canvas" style="width: 100%;height: 30vh;"></canvas>');
						var chart = new Chart(document.getElementById("chart_canvas"), {
								type: 'line',
								data: {
									labels: labels,
									datasets: [{
										label : '咖啡生豆瑕疵率',
										data: data,
										fill: false,   
										borderColor: "#5dd55d",
										pointBackgroundColor: "rgba(255,0,0,0.6)",											
									}]
								},
								options: {
									
								    title: { //標題
										display: true,
										text: '生豆瑕疵率圖表',
										fontSize: 40,
										fontColor: "#f00",
									},

									animation: {
										duration: 2000
									},
									scales: {                
										legend: {
               								position: 'left',     
                    						labels: {
                        						fontSize:100,  
                    						}
                						},
      	  									backgroundColor: '#b3d9ff',
										yAxes: [{
											gridLines: {
												display: true
											},											
											scaleLabel: {
												display: true,
												labelString: '咖啡生豆瑕疵率',
												fontSize: 40
											},
										}],
										xAxes:[{
											display: 'true',
											type: 'time',
											time : {
												parser : 'MM/DD/YYY HH:mm',
												tooltipFormat: 'll HH:mm',
												unit: dis_unit,
												unitStepSize: 1,
												displayFormats:{
													'day': 'MM/DD/YYYY',								      
													'minute': 'HH:mm', 
								      				'hour': 'A HH:mm', 

													min: '00:00',
													max: '23:59'

												}
											},
											scaleLabel: {
												display: true,
												labelString: '挑豆日期',
												fontSize: 40
											},

										}],
										
									},
									
								}

						});
						Chart.defaults.global.defaultFontFamily = "DFKai-sb";
						chart.options.scales.yAxes[0].ticks.fontSize = 30;
						chart.options.scales.xAxes[0].ticks.fontSize = 30;
						chart.options.legend.labels.fontSize = 40;
						Chart.defaults.global.hover.intersect = false;

						chart.update();
					}
				})
			})

			$('#Return_Search').click(function(){
				$('#chart').animate({"margin-right": '+=30vw'},500,function(){
					$(this).fadeOut('fast',function(){
						$('#serach').fadeIn('fast',function(){
								$(this).animate({"margin-right": '-=30vw'},500)
						})
					})
				});
			})
		})

	</script>
</div>