<% include header %>
<div id="wrapper" >
		<% include navbar %>
		<div class="container-fluid" style="margin-top:70px;">
			<div class="row" >
				<div class="col-12" style="height: 100vh;">
					<div class="mtb-3">
						<div class="jumbotron mt-3 text-center" style="padding-top: 10px;padding-bottom: 5px;">
							<h1 class="display-3" style="margin: auto;"><b>挑取瑕疵豆服務</b></h1>
						</div>
					</div>
					<div class='row'>
						<div class="col-6 mt-3 text-center" style="min-height:30vh;margin:auto;">
							<div class = "text-center" style="height: 608px;margin:auto;">
								<img class="ms-auto d-block" style="height: 500px;margin:auto;" src="http://140.137.132.59:2003/?action=stream"  alt="串流2">
								<h3 class="card mt-3 title" style="font-size: 40px;">監視相機</h3>
							</div>
						</div>
						<div class="col-6 mt-3 text-center" style="min-height:30vh;margin:auto;">
								<div class = "text-center" style="height: 500px;margin:auto;">
									<img id='detected' style="margin: auto; background-color: white; height: 500px;width: 500px;">
									
								</div>
								<div>
									<h2 id="defect_rate" style="font-size: 42px;">檢測結果</h2>						  
									<div class="btn-group text-center mr-3" role="group">
										<button style="font-size: 32px;" id="detect" type="button"  class="btn btn-primary h-100">檢測生豆</button>
									</div>
									<div class="btn-group text-center" role="group">
										<button style="font-size: 32px;" id="pick" type="button"  class="btn btn-primary h-100">開始抓取</button>
									</div>											  
								</div>
								
						</div>
					</div>
					</div>	
				</div>		
			</div>
		</div>
		<script>
			$('document').ready(function(){
				//已經檢測過豆子
				var already = false;
				var curbeans = [];
				$('#pick').unbind('click').bind('click',function(){
					if(!already){
						alert('尚未對生豆進行瑕疵檢測')
					}
					var defectBean = curbeans.filter(x =>x.c != 0)
						$.ajax({
							type:'post',
							url:'./api/pick_bean',
							data : {'defectBean' : defectBean},
							success: function(res){
								console.log('c')
							}
						})

				})

				$('#detect').click(function(){
					already = true

					$.ajax({
						type:'get',
						url:'./api/detectBean',
						success: function(res){
								curbeans = res.data
								var resultImg = res.ResultImage
								var img = res.ImageName
								//顯示包含bounding box之影像
								url = "data:image/jpg;base64," + resultImg
								$('#detected').attr('src',url)
								
								var defect = 0
								curbeans.forEach(function(item,index){
									if(item.c != 0){
										defect+=1
									}
								})
								var defectRate = defect/curbeans.length;
								console.log(defectRate);
								$('#defect_rate').text('生豆瑕疵率：'+defectRate.toFixed(2).toString())
								//store record
								$.ajax({
									type: 'post',
									url:'./api/StoreRecord',
									data : {
										'image' : img ,
										'defectRate': defectRate,
										'Data' : curbeans,
										'Date' : Date.now()
									},
									success : function(data){
										console.log('stored')
										alert('辨識結束')

									},
									error : function(){
										console.log(this.data)
									}
									
								})

							},
						error: function(){
							alert('先放豆子才能進行辨識')
						}
					});
				})
			});
		</script>
	<% include footer %>
</div>