<div class="bgimage" >
	<% include header %>
		<% include navbar %>
		<div class="container-fluid" style="margin-top:70px;">
			<div class="row" >
				<div class="col-12">
					<div class="card mb-5 " style="min-height:100px;">
						<h1 class="card-title text-center" style="font-size: 64px; margin: auto;"><b>挑取咖啡豆服務</b></h1>
					</div>
					<div class='row'>
							<div class="col-4 text-center" >

								<h3 class="card" style="font-size: 40px; "><b>監視相機</b></h3>
								<div class = "text-center" style="max-height:80%;max-width:80%;margin:auto;">
										<img class="ms-auto d-block" style="max-height:100%;max-width:100%;" src="http://140.137.132.172:2003/?action=stream"  alt="串流2">
								</div>

								<h3 class="card mt-3" style="font-size: 40px; "><b>檢測用相機之串流影像</b></h3>
								<div class="text-center" style="max-height:80%;max-width:80%;margin: auto;">
									<img class="ms-auto d-block" style="max-height:100%;max-width:100%;" src="http://140.137.132.172:2004/arm_stream" alt="串流">								
								</div>
							</div>	
							   
							<div class="col-8">
								<div class = "card p-3 " style="min-height: 80%;">
									<div class="row">
										<div class="col-5 h-100 text-center">
											<h2 style="font-size: 42px;">檢測結果</h2>
											<img src="./img/coffeetemp.jpg" style="margin: auto;width: 80%;" alt="dectresult">
										</div>
										<div class="col-7 h-100">
											<table class="table">
												<thead>
													<tr>
														<th scope="col">#</th>
														<th scope="col">x軸（中心點）</th>
														<th scope="col">y軸（中心點）</th>
														<th scope="col">高</th>
														<th scope="col">寬</th>
														<th scope="col">類別</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">1</th>
														<td>Mark</td>
														<td>Otto</td>
														<td>@mdo</td>
														<td>Mark</td>
														<td>Otto</td>
													</tr>
													<tr>
														<th scope="row">2</th>
														<td>Mark</td>
														<td>Otto</td>
														<td>@mdo</td>
														<td>Mark</td>
														<td>Otto</td>
													</tr>
													<tr>
													<th scope="row">3</th>
														<td>Mark</td>
														<td>Otto</td>
														<td>@mdo</td>
														<td>Mark</td>
														<td>Otto</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
		
								<div class = "offset-8 mt-2">
									<div class="row" >
										<div class="btn-group text-center mr-3" role="group">
											<button style="font-size: 32px;" id="pick" type="button"  class="btn btn-primary h-100">擷取生豆影像</button>
										</div>	
										<div class="btn-group text-center" role="group">
											<button style="font-size: 32px;" id="pick" type="button"  class="btn btn-primary h-100">開始抓取</button>
										</div>											  
									</div>
									
								</div>
							</div>	
					</div>
					</div>	
				</div>		
			</div>
		</div>
	<% include footer %>
</div>