<% include header %>
<div id='wrapper'>
			<% include navbar %>
			<div class="container-fluid" style="margin-top:70px;">
				<div class="row" >
					<div class="col-12">
						<div class="mtb-3">
							<div class="jumbotron mt-3 text-center" style="padding-top: 10px;padding-bottom: 5px;">
								<h1 class="display-3" style="margin: auto;"><b>樣本標記服務</b></h1>
							</div>
						</div>
						<div class='row'>
								<div class="col-10 offset-1 ">
									<div class = "p-3" style="min-height: 90%;">
										<div class="row">
											
											<div class="col-12 col-xl-6 text-center">
												<canvas id="canvas" width="608" height="608"  style="background-color: white;"></canvas>
												
											</div>
											<div class="card col-12 col-xl-6" style="overflow-y: scroll; min-height: 65vh; max-height: 65vh; display: block;">
												<table id='sampleTable' class="table" >
													<thead style="width: 100%; ">
														<tr>
															<th scope="col">#</th>
															<th scope="col">x軸（中心點）</th>
															<th scope="col">y軸（中心點）</th>
															<th scope="col">高</th>
															<th scope="col">寬</th>
															<th scope="col">類別</th>
															<th scope="col">刪除</th>
														</tr>
													</thead>
													<tbody id='samples'>
												
													</tbody>
												</table>
											</div>
											
										</div>
										<div class="row">
												<div class="col-6">
													<sapn>圈選生豆時請讓canvas完整得出現在畫面上,不然位置會偏掉 |</sapn>
													<sapn style="color:red;">請使用電腦進行樣本標記</sapn>
												</div>

												<div class="row btn-group col-6 text-center" style="margin: auto;" role="group" aria-label="Basic example">

														<button style="font-size: 32px;" id="takePhoto" type="button"  class="col-5 btn btn-primary h-100 ml-5 mr-5">拍攝相片</button>
														<button style="font-size: 32px;" id="storeSample" type="button"  class="col-5 btn btn-primary h-100">儲存樣本資料</button>
												</div>
											</div>
									</div>
			
								</div>	
						</div>
						
					</div>		
				</div>
			</div>
		<script src="./js/label/CoffeeLabel.js"></script>
		<script>
			var curBgBase = ''
			$(document).ready(function(){
				$('#takePhoto').bind('click',function(e){
					$.ajax({
						type:'get',
						url:'./api/takePic',
						success: function(data){
									curBgBase = data.image
									url = "url('data:image/png;base64," + data.image + "')"
									$('canvas').css('background-image',url)
								}
					})
				})

				$('#storeSample').bind('click',function(e){
					var sampleImage64 = curBgBase;
					var Samples = []
					
					$('#samples').children().each(function(){
						var x = (Number($(this).children('#x_value').text())/608).toFixed(6);
						var y = (Number($(this).children('#y_value').text())/608).toFixed(6);
						var h = (Number($(this).children('#h_value').text())/608).toFixed(6);
						var w = (Number($(this).children('#w_value').text())/608).toFixed(6);
						var c = $(this).children('td').children('#BeanClass').val()
						var CurSample = {'class':c,'x':x,'y':y,'h':h,'w':'w'}
						Samples.push(CurSample)

					})

					if(!sampleImage64 || Samples.length ==0){
						alert("並未進行標記或拍照")
						return
					}
					var jsondata ={'imageBase64':sampleImage64,'beans':Samples};
					console.log(jsondata)

					$.ajax({
						type:'post',
						url:'./api/StoreSample',
						data: jsondata,
						success: function(data){
							alert("上傳完成")
						}
					})

				})

			})
		</script>
		<% include footer %>

</div>

