<div class="bgimage" >
	<% include header %>
		<% include navbar %>
		<div class="container-fluid" style="margin-top:70px;">
			<div class="row" >
				<div class="col-12">
					<div class="card mb-5 " style="min-height:100px;">
						<h1 class="card-title text-center" style=" margin: auto;"><b>辨識紀錄查詢服務</b></h1>
					</div>
				<div class='row'>
							<div class="col-10 offset-1 ">
								<div class = "card p-3 " style="min-height: 90%;">
									<div class="row">
										<div class="col-6 h-100 text-center">
											<h3>目前拍攝之影像</h3>
											<canvas id="canvas" width=580 height=580></canvas>										
										</div>
										<div class="col-6 h-100">
											<table class="table">
												<thead>
													<tr>
														<th scope="col">#</th>
														<th scope="col">x-axis</th>
														<th scope="col">y-axis</th>
														<th scope="col">height</th>
														<th scope="col">width</th>
														<th scope="col">class</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">1</th>
														<td>Mark</td>
														<td>Otto</td>
														<td>@mdo</td>
														<td>Mark</td>
														<td>
															<select class="form-control" id="exampleFormControlSelect1">
																<option>normal</option>
																<option>broken</option>
																<option>insect</option>
															</select>
														</td>
														
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</div>
		
								<div class = "card p-3 mt-3 ">
									<div class="row">
										<div class="form-group col-10">
											<label for="exampleFormControlSelect1">豆種</label>
											<select class="form-control" id="exampleFormControlSelect1">
												<option>example</option>
												<option>example</option>
												<option>example</option>
											</select>
										</div>
												
										<div class="btn-group col-2 text-center" role="group" aria-label="Basic example">
											<button id="pick" type="button"  class="btn btn-secondary h-100">拍攝相片</button>
											<button id="pick" type="button"  class="btn btn-secondary h-100">儲存樣本資料</button>
										</div>
									</div>
																				  
								</div>
							</div>	
					</div>
					</div>	
				</div>		
			</div>
		</div>
	<% include footer %>
	<script>
		var canvas = document.getElementById("canvas"),
    	ctx = canvas.getContext("2d");

		canvas.width = 580;
		canvas.height = 580;

		var background = new Image();
		background.src = "./img/coffeetemp.png";

		// Make sure the image is loaded first otherwise nothing will draw.
		background.onload = function(){
    		ctx.drawImage(background,0,0);   
		}


	</script>
</div>