<div id="wrapper" >
	<% include header %>
		<% include navbar %>
		<div class="container-fluid h-100 " style="margin-top:70px;">
			<div class="row" style="height:100vh;">
				<div class="col-12 text-center">
		</div>
	<% include footer %>
</div>
