<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #f8cbf0;">

			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">首頁</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/CoffeePick">挑取咖啡豆服務</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="/CoffeeLabel">標記樣本服務</a>
				</li>				
				<li class="nav-item">
						<a class="nav-link" href="/CoffeeRecord">辨識紀錄查詢</a>
				</li>
					
			</ul>

		<script>
			//替當前頁面的連結加上 active來醒目頁面名稱
			$(document).ready(function(){
				var url = document.URL.split('?')[0].split('/')[document.URL.split('?')[0].split('/').length-1];
				var links = $('.nav-link').each(function(){;
					var pagename = $(this).attr('href').slice(1);
					if(pagename == url){
						$(this).parent().addClass('active');
						return;
					}
				});
			});
		</script>
</nav>