<div class="bgimage" >
		<% include header %>
			<% include navbar %>
			<div class="container-fluid h-100 " style="margin-top:70px;">
				<div class="row" style=" height:100vh;">
					<div class="col-6 offset-3">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title text-center"><b>溫度單位轉換服務操作介面</b></h5>
								<p class="card-text">請輸入溫度進行運算</p>
								<div> 
									<div class="form-group">
									<label for="type">轉換方式</label>
									<select class="form-control" id="type">
										<option value="1">華氏轉攝氏</option>
										<option value="2">攝氏轉華氏</option>
									</select>
								</div>
											
								<div class="form-group">
									<label for="number1">原溫度</label>
									<input type="temp"" class="form-control" id="temp" placeholder="請輸入原溫度">
								</div>
	
								<div class="form-group">
									<label for="result">答案</label>
									<input type="number" class="form-control" id="result" placeholder="result...">
								</div>
								<div class="pt-3 text-center">
									<button id="btn1" class="btn btn-success btn-lg"><b>轉換</b></button>
      							</div>
							</div>
						</div>
								  
					</div>		
				</div>
			</div>
			   <!-- 以下這個匿名函數是jquery的ready事件處理方法，當網頁Ready好的就會自動執行 -->
		<!-- 因此，可以把要註冊的所有事件處理函數及需要先執行的命令放在這個函數內 -->
		<script>
				$(function(){
					// 幫id為btn1的按鈕標籤註冊了點擊事件的處理方法
					// 在jquery及nodejs通常會使用匿名函數作為事件處理方法，比較簡潔
					$('#btn1').click(function(){
						$.post(
							'/api/temperature/' + $('#temp').val() + '/' + $('#type').val(),
							function(data){
								$('#result').val(data.result)
							}
						);
					});
					
								
					// 幫id為btn5的按鈕標籤註冊了點擊事件的處理方法
					$('#btn7').click(function(){
						 window.location.href = '/';
					});
				})		
			</script>
		
		<% include footer %>
</div>
	